<a href="https://colab.research.google.com/github/LucBert/Demo/blob/master/Copia_di_LECTURE_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Language Basics

In [ ]:
person_dict = {'name':'Nick', 'surname':'Marastoni', 'age':39}

In [ ]:
for el in person_dict:
    print(person_dict[el])

Nick
Marastoni
39

In [ ]:
for value in person_dict.values():
    print(value)

Nick
Marastoni
39

- List Comprehension
    - Time comparison (even list)

In [ ]:
a_list = []
#populate with the first 200 even numbers using a for loop
for number in range(400):
    if number % 2 == 0:
        a_list.append(number)

In [ ]:
len(a_list)

200

In [ ]:
for number in range(200):
    a_list.append(number*2)

In [ ]:
%%timeit
list_of_numbers = [element for element in range(1000000)]

91.5 ms ± 10.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
list_of_numbers = []
for i in range(1000000):
    list_of_numbers.append(i)

121 ms ± 1.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
list_of_even_numbers = [x for x in range(400) if x % 2 == 0]

In [ ]:
a = [x*2 for x in range(200)]

In [ ]:
for el in [x*2 for x in range(200)]:
    print(el)

- Functions 
    - Parameters
    - calling/returning
    - Scope
    - input/no input/output/no output

In [ ]:
def square_of_sum(x, y):
    result = x*x + y*y + 2*x*y
    return result

In [ ]:
square_of_sum(1, 0)

1

In [ ]:
def this_function_always_returns_one():
    return 1

In [ ]:
def this_function_does_nothing():
    pass

In [ ]:
this_function_does_nothing()

In [ ]:
for number in range(200):
    a_list.append(number*2)

In [ ]:
def generate_list_of_first_y_even_numbers(y):
    a_list = []
    for number in range(y):
        a_list.append(number*2)
    return a_list

In [ ]:
generate_list_of_first_y_even_numbers(10)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
def generate_list_of_first_y_even_numbers_2(y):
    return [x*2 for x in range(y)]

In [ ]:
mary_poppins = 23
generate_list_of_first_y_even_numbers_2(mary_poppins)

In [ ]:
print(y)

NameError: ignored

In [ ]:
x = 200
list_of_first_even_numbers = generate_list_of_first_y_even_numbers(x)

In [ ]:
len(list_of_first_even_numbers)

200

In [ ]:
list_of_first_even_numbers

- Comments 
    - Inline
    - Block 
    - Functions (pydoc)

In [ ]:
def generate_list_of_first_y_even_numbers(y):
    '''
    this function generates a list of even numbers
    input: y
    output: a_list
    '''
    a_list = []
    for number in range(y*2): # y*2 because i need even numbers
        if number % 2 == 0: 
            a_list.append(number)
    return a_list

In [ ]:
generate_list_of_first_y_even_numbers(2)

[0, 2]

In [ ]:
generate_list_of_first_y_even_numbers()

TypeError: ignored

#Basic Exercises

Ex: Write a function that returns True if all the elements in the input list are even

In [ ]:
def all_elements_even(list_of_numbers):
    for element in list_of_numbers:
        if element % 2 != 0:
            return False
            
    return True

In [ ]:
def a_solution(l):
    a_list = []
    for number in l:
        if number %2 == 0:
            a_list.append(number)
    
    if len(a_list) == len(l):
        return True

    return False

In [ ]:
all_elements_even([1,2,3])

False

In [ ]:
all_elements_even(generate_list_of_first_y_even_numbers(4000))

True

Ex: Write a function that returns the maximum value in a list

In [ ]:
import numpy as np

array([8, 3, 4, 2, 4, 7, 7, 2, 5, 9])

In [ ]:
def max_val(l):
  return max(l)

In [ ]:
a = np.random.randint(1,10,10)
print(a)
max_val(a)

[5 4 4 7 1 8 8 6 4 4]

8

Ex: Write a function that returns the sum of all values in the list

In [ ]:
def sum_of_el(l):
  i = 0
  for el in l:
    i += el
  return i

In [ ]:
a = list(np.random.randint(1,10,10))
print(a)
sum_of_el(a)

[4, 1, 5, 5, 9, 4, 1, 7, 7, 3]

46

Ex: Write a function that accepts a list of numbers as input and returns an inverted version of the liste

In [ ]:
l = [1,2,3,4]
print(l[0])
print(l[-1])
for i in range(len(l)):
  print(-i-1)

1
4
-1
-2
-3
-4

In [ ]:
print(range(len(l)))

range(0, 4)

In [ ]:
print(type(range(len(l))))

<class 'range'>

In [ ]:
def rev_list(l):
  return [l[(-i-1)] for i in range(len(l))]

In [ ]:
a = list(np.random.randint(1,10,10))
print(a)
rev_list(a)

[9, 6, 4, 1, 5, 5, 2, 1, 4, 4]

[4, 4, 1, 2, 5, 5, 1, 4, 6, 9]

Ex: Write a function that returns the first and last elements of a list

In [ ]:
def first_and_last(l):
  # return min(l), max(l)
  return f'The min is {min(l)} and the max is {max(l)}'

In [ ]:
a = list(np.random.randint(1,10,10))
print(a)
first_and_last(a)

[2, 6, 8, 6, 3, 7, 4, 3, 8, 3]

'The min is 2 and the max is 8'

Ex: Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c

In [ ]:
def regr(a,b,c,x):
  return int(((a*x)**2 + (b*x) + c))

In [ ]:
regr(1,2,3,4)

27

Ex: Write a function to print the content of a dictionary in order by key

In [ ]:
def order_dict(d:dict):
  return sorted(dict.items(d))

In [ ]:
d = {'a':1, 'c':2, 'b':3}
order_dict(d)

[('a', 1), ('b', 3), ('c', 2)]

In [ ]:
d = {1:'a', 2:'c', 3:'b'}
order_dict(d)

[(1, 'a'), (2, 'c'), (3, 'b')]

Ex: Write a function to find all keys in the provided dictionary that have a given value

In [ ]:
def find_key(d,v):
  final = []
  for el in d.items():
    if el[1] == v:
      final.append(el[0]) 
  return final

In [ ]:
def find_key(d,v):
  return [el[0] for el in d.items() if el[1]==v]

In [ ]:
d = {'a':1, 'c':2, 'b':3, 'd':2}
find_key(d,2)

['c', 'd']

Ex: Write a function to sort a tuple by its float element

In [ ]:
def return_float(t):
  return sorted(t, key=lambda x: float(x), reverse=False)

In [ ]:
a = (7.40, 4, 5.50, 1.10, 2.30)
return_float(a)

[1.1, 2.3, 4, 5.5, 7.4]