<a href="https://colab.research.google.com/github/LucBert/Demo/blob/main/LECTURE_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Language Advanced

- Objects
    - Inheritance

In [ ]:
class Person:
    def __init__(self, name, surname, age):
        self.name = name
        self.surname = surname
        self.age = age

    def __eq__(self, other):
        return self.name == other.name and self.surname == other.surname

In [ ]:
p1 = Person('Nick', 'Marastoni', 39)
p2 = Person('Nick', 'Marastoni', 39)

In [ ]:
p1 == p2

True

In [ ]:
class Student:
    def __init__(self, name, surname, age, student_id):
        self.name = name
        self.surname = surname
        self.age = age
        self.student_id = student_id

    def __eq__(self, other):
        return self.name == other.name and self.surname == other.surname and self.age == other.age and self.student_id == other.student_id

In [ ]:
s1 = Student('Nick', 'Marastoni', 39, 'VR365485')
s2 = Student('Nick', 'Marastoni', 39, 'VR381673')

In [ ]:
s1 == s2

False

In [ ]:
class Student(Person):
    def __init__(self, name, surname, age, student_id):
        super().__init__(name, surname, age)
        self.student_id = student_id

In [ ]:
s1 = Student('Nick', 'Marastoni', 39, 'VR365485')
s2 = Student('Nick', 'Marastoni', 39, 'VR381673')

In [ ]:
s1 == s2

True

In [ ]:
p1 == s1

True

In [ ]:
class Student(Person):
    def __init__(self, name, surname, age, student_id):
        super().__init__(name, surname, age)
        self.student_id = student_id

    def __eq__(self, other):
        return super().__eq__(other) and self.student_id == other.student_id

In [ ]:
s1 = Student('Nick', 'Marastoni', 38, 'VR381673')
s2 = Student('Nick', 'Marastoni', 39, 'VR381673')

In [ ]:
s1 == s2

True

In [ ]:
class Professor(Person):
    def __init__(self, name, surname, age, contract_type):
        super().__init__(name, surname, age)
        self.contract_type = contract_type

    def promotion(self):
        self.contract_type = 'full professor'

In [ ]:
p1 = Professor('Nick', 'Marastoni', 39, 'assocciate professor')
p2 = Professor('Nick', 'Marastoni', 37, 'assocciate professor')

In [ ]:
p2 == p1

True

In [ ]:
s1 == p1

AttributeError: ignored

In [ ]:
class Student(Person):
    def __init__(self, name, surname, age, student_id):
        super().__init__(name, surname, age)
        self.student_id = student_id

    def __eq__(self, other):
        return super().__eq__(other) and type(self) == type(other) and self.student_id == other.student_id

In [ ]:
s1 = Student('Nick', 'Marastoni', 38, 'VR381673')

In [ ]:
s1 == p1

False

- Reading documentation
- Exceptions 
    - Reading errors

In [ ]:
def divide_numbers(num_1, num_2):
    result = 0
    try:
        result = num_1 / num_2
    except:
        return 0
    finally:
        print('always compute')
    return result

In [ ]:
for i in [1,2,0,4,7]:
    print(divide_numbers(28, i))

always compute
28.0
always compute
14.0
always compute
0
always compute
7.0
always compute
4.0

In [ ]:
f = open('sample_data/anscombe.json')

In [ ]:
f.readline()

'  {"Series":"I", "X":8.0, "Y":6.95},\n'

In [ ]:
f.close()

In [ ]:
f.readline()

ValueError: ignored

In [ ]:
def read_lines(filename):
    f = open(filename)
    try:
        print(f.readline())
    except:
        return
    finally:
        f.close()

#Advanced Exercises

1. Write a function that takes a list of tuples (see example) and return a list of objects that have the same data.    
list = [('Nick', 38, 'professor'), ('Mark', 23, 'student'), ('Elsa', 43, 'janitor'), ('Richard', 56, 'bus driver'), ('Frank', 72, 'trash man')]

2. Write a function that orders the previously generated list of objects in reverse alphabetical order (by name), using sorted and Lambda.    
2. Write a function to square and cube every number in a given list of integers, and one to cube every number. Both using Lambda.     
list = [12, 32, 52, 226, 63, 85, 47, 9]

3. Write a Triangle object that can be constructed by three points in space    
    a. Define a method for the perimeter of the triangle    
    b. Write an appropriate \_\_repr__ function   
    c. Write an appropriate \_\_eq__ function so that two triangles are equal if their sides are equal
4. Write a function to list only i) directories, ii) files and ii) all directories, files in a specified path
5. Write a function that renames a file. Both old name and new name are passed as inputs.    
Bonus: if the original file doesn't exist, create the renamed file.
6. Write a function that takes a filename and a string as input and writes that string in the file.

In [ ]:
# Exercise 6: Write a function that renames a file. Both old name and new name are passed as inputs.
# Bonus: if the original file doesn't exist, create the renamed file.


from genericpath import isfile
import os
def rename_file(o,n):
  if os.path.isfile(o):
    return os.rename(o,n)

In [ ]:
f = open('test.txt', 'x')

FileExistsError: ignored

In [ ]:
os.listdir()

['.config', 'test.txt', 'Test', 'sample_data']

In [ ]:
rename_file('test.txt', 'renamed_file.txt')

In [ ]:
os.listdir()

['.config', 'renamed_file.txt', 'Test', 'sample_data']

In [ ]:
# Exercise 7: Write a function that takes a filename and a string as input and writes that string in the file.
def write_on_file(f,s):
  with open(f,'w') as f:
    f.write(s)

In [ ]:
write_on_file('renamed_file.txt','This is a new string writed with open constuct')

In [ ]:
with open('renamed_file.txt') as f:
  lines = f.readlines()
lines

['This is a new string writed with open constuct']